annotated-types
anthropic
anyio
autoflake
black
certifi
click
contourpy
cycler
distro
fonttools
h11
httpcore
httpx
idna
isort
jiter
joblib
kiwisolver
matplotlib
mypy
mypy-extensions
numpy
openai
packaging
pandas
pathspec
pillow
platformdirs
pydantic
pydantic_core
pyflakes
pyparsing
PySide6
PySide6_Addons
PySide6_Essentials
python-dateutil
pytz
QDarkStyle
QtPy
scikit-learn
scipy
shiboken6
six
slack_sdk
sniffio
tabulate
threadpoolctl
tqdm
typing-inspection
typing_extensions
tzdata
