aisuite @ git+https://github.com/andrewyng/aisuite.git@09e91cebb182af130f399d70cb670a79314b6aa2
anyio==4.8.0
black==25.1.0
certifi==2025.1.31
click==8.1.8
h11==0.14.0
httpcore==1.0.7
httpx==0.27.2
idna==3.10
mypy-extensions==1.0.0
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.6
PySide6==6.8.2.1
PySide6_Addons==6.8.2.1
PySide6_Essentials==6.8.2.1
pytz==2025.1
QDarkStyle==3.2.3
QtPy==2.4.3
shiboken6==6.8.2.1
sniffio==1.3.1
typing_extensions==4.12.2
